
@tailwind preflight;

@tailwind components;

@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-600 text-white;
}

.btn-blue:hover {
  @apply bg-blue-400;
}

.btn-grey {
  @apply bg-gray-200 text-gray-900;
}
.btn-grey:hover {
  @apply bg-gray-400;
}

.trump-card {
  width: 15%
}

.hand-card {
  width: 25%;
  position: relative;
}

.hand-card + .hand-card {
  margin-left: -10%;
}

.board-card {
  width: 30%;
  position: relative;
}

.board-card + .board-card{
  width: -5%;
}

.zneg-10 {
  z-index: -10;
}

img.card {
  width: 100%;
}
