body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  /* Not sure what's giving me scrollbars. This gets rid of them. */
  overflow: hidden; 
}

.all-fours-game {
  height: 100vh;
  max-width: 100vw;
  display: flex;
}

@media (min-aspect-ratio: 12/16) {
  .all-fours-game {
    width: 63vh;
  }
}

.the-rest {
  overflow: hidden;
}

.player-hand {
  position:relative;
}

.player-hand-row {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.player-hand__placeholder-row {
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
}

.player-hand-row + .player-hand-row {
  top: 45%; 
}

.hand-card {
  width: 25%;
  position: relative;
}

.hand-card img {
  display: block;
}

.hand-card + .hand-card{
  margin-left: -10%
}

.board-card {
  width: 80%;
  position: relative;
}

.board-card-west {
  margin-left: 20%;
}

.board-card-north {
  position: absolute;
  left: 50%
}

.board-card-north img {
  display: block;
  margin-left: -50%;
} 

.placeholder-img {
  left: 0;
  top: 0;
  position: relative;
}

.animated-card {
  position: absolute;
  width: 100%;
}


.trump-card {
  position: absolute;
  width: 25%;
}

img.card {
  display: block;
}

.text-shadow--wait-msg {
  text-shadow: -1px 1px 1px #9c4221;
}

.text-shadow--play-msg {
  text-shadow: -1px 1px 1px #276749;;
}

.modal {
  background-color: #00000033;
}

.player-tags__west {
  width: 20%;
  position: absolute;
}

.player-tags__east {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
}

.player-tags__south .player-tags__item {
  width: 20%;
}

.player-tags__north .player-tags__item {
  width: 20%;
}

.game-board__player {
  position: relative;
  width: 25%;
}

.game-board__player-offset {
  transform: translateX(-50%);
}

.game-board__player-north {
  position: absolute;
  top: 0;
  left: 50%;
}

.game-board__player-south {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.notification {
  min-width: 67%;
}

.round-summary-table th, .round-summary-table td {
  text-align: center; 
}
