
@tailwind preflight;

@tailwind components;

@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue text-white;
}
.btn-blue:hover {
  @apply bg-blue-dark;
}

.btn-grey {
  @apply bg-grey-light text-grey-darkest;
}
.btn-grey:hover {
  @apply bg-grey;
}

.card {
  /* PERFORMANCE - border-radius and shadow negatively affects performance on mobile. */
  /* @apply shadow-md; */
  /* border-top-left-radius: 4% 4%;
  border-top-right-radius: 4% 4%;
  border-bottom-left-radius: 4% 4%;
  border-bottom-right-radius: 4% 4%; */
  display: block;
  position: relative;
  width: 112px; 
  height: 156px; 
  /* border: 1px solid #b9b9b9;  */
}

.card + .card {
  margin-left: -55%;
}

.zneg-10 {
  z-index: -10;
}
